.Renviron
.Rproj.user
.Rhistory
.RData
.Rapp.history
.DS_Store
.clang-format
*.sublime-project
*.sublime-workspace
*.o
*.o.tmp
*.code-workspace
src/.vscode/*
doc
inst/doc
Meta
tests/testoutput/*
docs
